[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
django-rest-knox = "*"
django-push-notifications = "*"
django-simple-history = "*"
pillow = "*"
whitenoise = "*"

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
